PORT=tu_port

#database
DB_SERVER=servidor
DB_NAME=Ferreteria

#variables de jsonwebtocken y cookie
JWT_SECRET=tu-jwt
JWT_EXPIRATION=3d
JWT_COOKIE_EXPIRES=3
NODE_ENV=development/production

#Credenciales de Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
